.kFx1Ae-xdwExf-eb-m {
  background-image: url("https://files.loganmcansh.com/img/collab.jpg") !important;
  background-size: cover;
  background-position: center;
  z-index: 2
}

img.kFx1Ae-xdwExf-eb.kFx1Ae-xdwExf-eb-wr {
  z-index: -1
}
